<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mundo.hola.jose.miprimerholamundo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:logo="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CategoriaXML"
            android:parentActivityName=".Inicio">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Inicio" />
        </activity>
        <activity
            android:name=".ProductoDetalle"
            android:parentActivityName=".CategoriaXML">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CategoriaXML" />
        </activity>
        <activity
            android:name=".Inicio"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Carrito"
            android:parentActivityName=".Inicio">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Inicio" />
        </activity>
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Busqueda"
            android:parentActivityName=".Inicio">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Inicio" />
        </activity>
        <activity android:name=".DatosPersonales" />
        <activity android:name=".Direccion" />
        <activity android:name=".Direcciones" />
        <activity android:name=".Registrarse" />
        <activity android:name=".Ordenes" />
        <activity android:name=".Orden_item" />
        <activity android:name=".Como_comprar" />
        <activity android:name=".Contacto" />
        <activity android:name=".Pago"></activity>
    </application>

</manifest>